.mapContainer {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: var(--surface-container-highest);
  border: 1px solid var(--surface-variant);
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .mapContainer {
    aspect-ratio: 4/3;
  }
}

.mapIframe {
  width: 100%;
  height: 100%;
  border: none;
}
